/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light background color */
    color: #333; /* Text color */
}

/* Header styles */
header {
    background-color: #800000; /* Maroon red color */
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

/* Contact info styles (formerly footer styles) */
.contact-info {
    background-color: #444; /* Dark color for the contact info */
    color: white; /* Text color */
    padding: 20px 0; /* Padding at the top and bottom */
    text-align: center; /* Center-align text */
    width: 100%; /* Full width of the container */
}

.contact-info p {
    margin: 5px 0; /* Margin for paragraphs inside the contact info */
}

.contact-info a:hover {
    color: white; /* Text color change on hover */
}

/* Navigation styles */
nav {
    background-color: #555; /* Dark gray background color for the navigation bar */
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Projects section styles */
.container {
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
